<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.user.persistence.UserMapper">	
	<resultMap type="com.accp.user.model.User" id="baseResultMap">
		<id column="id" property="id" />
		<result column="username" property="userName"/>
		<result column="tel" property="tel" />
		<result column="pwd" property="pwd"/>
		<result column="role" property="role"/>
	</resultMap>
	
	<sql id="baseSql">
		id,username,tel,pwd,role,mgr
	</sql>
		
	<insert id="insert" parameterType="com.accp.user.model.User" useGeneratedKeys="true" keyProperty="id">
		insert into
		user(username,tel,pwd,role,mgr)values(#{userName},#{tel},#{pwd},#{role},#{mgr})
	</insert>
	
	<select id="getUserByName" parameterType="com.accp.user.model.User" resultMap="baseResultMap">
		select
		<include refid="baseSql" />
		from user where username=#{username}
	</select>
	<select id="getUserById" parameterType="java.lang.Integer" resultMap="baseResultMap">
		select
		<include refid="baseSql" />
		from user where id=#{id}
	</select>	
	<select id="getUserList" parameterType="com.accp.user.model.User" resultMap="baseResultMap">
		select
		<include refid="baseSql" />
		from user
	</select>
	
	<update id="update" parameterType="com.accp.user.model.User">
	    UPDATE user SET username=#{userName}, tel=#{tel} WHERE id=#{id}
	</update>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete user where id=#{id}
	</delete>
	
	<delete id="deleteBatch" parameterType="java.util.List">
		delete user where
		id in
		<foreach open="(" close=")" separator="," item="id" collection="ids">
			#{id}
		</foreach>
	</delete>
</mapper>
